SPRING_DATASOURCE_URL=jdbc:snowflake://<ACCOUNT_ID>.snowflakecomputing.com/?db=DB_JW_SHARED&schema=CHALLENGE&warehouse=WH_TEAM_1_XS
SPRING_DATASOURCE_USERNAME=<your-email>
SPRING_DATASOURCE_PASSWORD=<your-password>
