SPRING_DATASOURCE_URL=jdbc:snowflake://<ACCOUNT_ID>.snowflakecomputing.com/?db=DB_TEAM_9&schema=PUBLIC&warehouse=COMPUTE_WH
SPRING_DATASOURCE_USERNAME=<your-email>
SPRING_DATASOURCE_PASSWORD=<your-password>
